# Projeto - Análise Exploratória de Dados

## Bibliotecas

In [1]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")
# from google.colab import files   #Caso for utilizar o Colab. Utilizei o VS Code.

## Leitura

In [2]:
df1 = customers_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_customers_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df1.head(2)
#df1.info()
df1.shape

(99441, 5)

In [3]:
df2 = geolocation_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_geolocation_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df2.head()
#df2.info(2)
df2.shape

(1000163, 5)

In [4]:
df3 = olist_order_items_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_order_items_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df3.head(2)
#df3.info()
df3.shape

(112650, 7)

In [5]:
df4 = olist_order_payments_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_order_payments_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df4.head(2)
#df4.info()
df4.shape

(103886, 5)

In [6]:
df5 = olist_order_reviews_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_order_reviews_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df5.head(2)
#df5.info()
df5.shape

(99224, 7)

In [7]:
df6 = olist_orders_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_orders_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df6.head(2)
#df6.info()
df6.shape

(99441, 8)

In [8]:
df7 = olist_products_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_products_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df7.head(2)
#df7.info()
df7.shape

(32951, 9)

In [9]:
df8 = olist_sellers_dataset = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/olist_sellers_dataset.csv", sep=",") #Caso esteja utilizando uma IDE local
#df8.head(2)
#df8.info()
df8.shape

(3095, 4)

In [10]:
df9 = product_category_name_translation = pd.read_csv("C:/Users/Tiago/Desktop/DIO/Ciencia_de_Dados_Unimed_BH/Modulo_2 _Python_para_Cientistas_de_Dados/desafios/projeto/product_category_name_translation.csv", sep=",") #Caso esteja utilizando uma IDE local
#df9.head()
#df9.info()
df9.shape

(71, 2)

## Unificação dos datasets

In [11]:
df_3_4 = df3.merge(df4, how='outer')
df_3_4.head()
df_3_4.shape

(118434, 11)

In [12]:
df_3_4_5 = df_3_4.merge(df5, how='outer')
df_3_4_5.head()
df_3_4_5.shape

(119143, 17)

In [13]:
df_3_4_5_6 = df_3_4_5.merge(df6, how='outer')
df_3_4_5_6.head()
df_3_4_5_6.shape

(119143, 24)

In [14]:
df_3_4_5_6_1 = df_3_4_5_6.merge(df1, how='outer')
df_3_4_5_6_1.head()
df_3_4_5_6_1.shape

(119143, 28)

In [15]:
df_3_4_5_6_1_7 = df_3_4_5_6_1.merge(df7, how='outer')
df_3_4_5_6_1_7.head()
df_3_4_5_6_1_7.shape

(119143, 36)

In [16]:
df_3_4_5_6_1_7_8 = df_3_4_5_6_1_7.merge(df8, how='outer')
df_3_4_5_6_1_7_8.head()
df_3_4_5_6_1_7_8.shape

(119143, 39)

In [17]:
df_3_4_5_6_1_7_8_9 = df_3_4_5_6_1_7_8.merge(df9, how='outer')
df_3_4_5_6_1_7_8_9.head(2)
df_3_4_5_6_1_7_8_9.info()
df_3_4_5_6_1_7_8_9.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119143 entries, 0 to 119142
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119143 non-null  object
 1   order_item_id                  118310 non-null  float64
 2   product_id                     118310 non-null  object
 3   seller_id                      118310 non-null  object
 4   shipping_limit_date            118310 non-null  object
 5   price                          118310 non-null  float64
 6   freight_value                  118310 non-null  float64
 7   payment_sequential             119140 non-null  float64
 8   payment_type                   119140 non-null  object
 9   payment_installments           119140 non-null  float64
 10  payment_value                  119140 non-null  float64
 11  review_id                      118146 non-null  object
 12  review_score                   118146 non-null  float64
 13  review_comment_title           13989 non-null   object
 14  review_comment_message         50245 non-null   object
 15  review_creation_date           118146 non-null  object
 16  review_answer_timestamp        118146 non-null  object
 17  customer_id                    119143 non-null  object
 18  order_status                   119143 non-null  object
 19  order_purchase_timestamp       119143 non-null  object
 20  order_approved_at              118966 non-null  object
 21  order_delivered_carrier_date   117057 non-null  object
 22  order_delivered_customer_date  115722 non-null  object
 23  order_estimated_delivery_date  119143 non-null  object
 24  customer_unique_id             119143 non-null  object
 25  customer_zip_code_prefix       119143 non-null  int64
 26  customer_city                  119143 non-null  object
 27  customer_state                 119143 non-null  object
 28  product_category_name          116601 non-null  object
 29  product_name_lenght            116601 non-null  float64
 30  product_description_lenght     116601 non-null  float64
 31  product_photos_qty             116601 non-null  float64
 32  product_weight_g               118290 non-null  float64
 33  product_length_cm              118290 non-null  float64
 34  product_height_cm              118290 non-null  float64
 35  product_width_cm               118290 non-null  float64
 36  seller_zip_code_prefix         118310 non-null  float64
 37  seller_city                    118310 non-null  object
 38  seller_state                   118310 non-null  object
 39  product_category_name_english  116576 non-null  object
dtypes: float64(15), int64(1), object(24)
memory usage: 37.3+ MB

(119143, 40)

In [20]:
df_3_4_5_6_1_7_8_9_2 = df_3_4_5_6_1_7_8_9.merge(df2, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='outer')
#df_3_4_5_6_1_7_8_9_2.head()
df_3_4_5_6_1_7_8_9_2.info(verbose=True)
#df_3_4_5_6_1_7_8_9_2.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18220822 entries, 0 to 18220821
Data columns (total 45 columns):
 #   Column                         Non-Null Count     Dtype
---  ------                         --------------     -----
 0   order_id                       18188958 non-null  object
 1   order_item_id                  18064261 non-null  float64
 2   product_id                     18064261 non-null  object
 3   seller_id                      18064261 non-null  object
 4   shipping_limit_date            18064261 non-null  object
 5   price                          18064261 non-null  float64
 6   freight_value                  18064261 non-null  float64
 7   payment_sequential             18187923 non-null  float64
 8   payment_type                   18187923 non-null  object
 9   payment_installments           18187923 non-null  float64
 10  payment_value                  18187923 non-null  float64
 11  review_id                      18045019 non-null  object
 12  review_score                   18045019 non-null  float64
 13  review_comment_title           2034148 non-null   object
 14  review_comment_message         7485266 non-null   object
 15  review_creation_date           18045019 non-null  object
 16  review_answer_timestamp        18045019 non-null  object
 17  customer_id                    18188958 non-null  object
 18  order_status                   18188958 non-null  object
 19  order_purchase_timestamp       18188958 non-null  object
 20  order_approved_at              18161668 non-null  object
 21  order_delivered_carrier_date   17870712 non-null  object
 22  order_delivered_customer_date  17692015 non-null  object
 23  order_estimated_delivery_date  18188958 non-null  object
 24  customer_unique_id             18188958 non-null  object
 25  customer_zip_code_prefix       18188958 non-null  float64
 26  customer_city                  18188958 non-null  object
 27  customer_state                 18188958 non-null  object
 28  product_category_name          17803116 non-null  object
 29  product_name_lenght            17803116 non-null  float64
 30  product_description_lenght     17803116 non-null  float64
 31  product_photos_qty             17803116 non-null  float64
 32  product_weight_g               18060583 non-null  float64
 33  product_length_cm              18060583 non-null  float64
 34  product_height_cm              18060583 non-null  float64
 35  product_width_cm               18060583 non-null  float64
 36  seller_zip_code_prefix         18064261 non-null  float64
 37  seller_city                    18064261 non-null  object
 38  seller_state                   18064261 non-null  object
 39  product_category_name_english  17799393 non-null  object
 40  geolocation_zip_code_prefix    18220500 non-null  float64
 41  geolocation_lat                18220500 non-null  float64
 42  geolocation_lng                18220500 non-null  float64
 43  geolocation_city               18220500 non-null  object
 44  geolocation_state              18220500 non-null  object
dtypes: float64(19), object(26)
memory usage: 6.2+ GB